<table class="generaltable mod_index">
    <thead>
        <tr>
            <td>{{name}}</td>
            <td>{{room_name}}</td>
        </tr>
    </thead>
    <tbody>
        {{#records}}
            <tr>
                <td>{{name}}</td>
                <td>{{room_name}}</td>
            </tr>
        {{/records}}
    </tbody>
</table>
